/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat Classic', sans-serif;
    font-weight: 500;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    height: 80px; 
    z-index: 10;
}

/* Navbar */
.navbar{
    width: 100%;
    height: 80px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 70px;
    width: auto;
}

.navbar .navContent{
    display: flex;
    gap: 2rem;
}

.navContent li{
    list-style: none;
    position: relative;
}

.navContent a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.navContent a::before {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.navContent a:hover::before {
    width: 100%;
}

.navbar .toggleBtn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropDownMenu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropDownMenu.open{
    height: 240px;
}

.dropDownMenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropDownMenu li a{
    color: white;
}

/* Frontpage */
.home{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}

.homeVideo{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.homeContent{
    position: relative;
    padding-top: 60px; 
    text-align: center;
    color: white;
}

.homeContent h1{
    font-size: 4rem;
    margin-bottom: 3%;
    font-weight: bold;
}

.homeContent h2{
    font-size: 3rem;
}

/* Experience */
.experience{
    height: 50vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    background-image: url('assets/image/main/background-top.png');
    background-position: center;
    background-size: cover; 
 }

 .experience::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(50%);
    z-index: 0; 
}
 
.experienceHeading{
    width: 100%;
    z-index: 1;
}

.experienceHeading h2{
    font-size: 2rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.experienceContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    z-index: 1;
}

.experienceContainer div{
    width: 30vh;
    height: 30vh;
}

.experience-stage, .experience-screen, .experience-party{
    background-size: cover; 
    background-position: center; 
}

.experience-stage{
    background-image: url(assets/image/pagina2/page2_stage.png);
}

.experience-party{
    background-image: url(assets/image/pagina2/page2_party.png);
}

.experience-screen{
    background-image: url(assets/image/pagina2/page2_screens.png);
} 

.experience h3{
    font-size: 2.5rem;
    margin: 1.5rem 12.5% 0; 
    text-align: center;
}

/* Our services */
.service {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    min-height: 85vh;
    position: relative;
    background-image: url('assets/image/main/background-middle.png');
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.service::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(70%);
    z-index: 0; 
}

.service > * {
    position: relative;
    z-index: 1;
}

.serviceHeading {
    text-align: center;
    margin: 5%;
}

.serviceHeading h2{
    font-size: 3rem;
    font-weight: bold;
}

.serviceContainer {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
}

.serviceHero{
    width: 300px;
    margin: 0 25px
}

.serviceHeroImg{
    height: 200px;
}

.serviceHeroImg img {
    object-fit: cover;
    height: 100%; 
    width: 100%;
    outline: 2px solid black;
}

.serviceHeroVid {
    width: 100%; 
    height: 200px;
    overflow: hidden; 
    outline: 2px solid black;
}

.serviceVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.serviceHeroHeading{
    margin: 15px 0 0 0;
}

.serviceHeroHeading h4{
    font-family: "DM Sans", sans-serif;
}

.serviceHeroText{
    font-family: "DM Sans", sans-serif;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* Testimonials */
.testimonials{
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #020302;
    gap: 10px;
}

.testimonialsHeading h2{
    font-size: 3rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.divider { 
    text-align: center; 
    width: 30%;
  } 

.divider hr { 
    border: none; 
    height: 1px; 
    background-color: white; 
    margin: 20px 0; 
  } 

#slider {
    margin: 0 auto;
    width: 65%;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    background: #020302;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slide5:checked ~ #slides .inner {
    margin-left: -400%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 500%;
    line-height: 0;
    height: 200px;
 }
 #slides .slide {
    width: 20%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }

 .slide_3 .slide-content h4{
    font-size: 1.2rem;
 }

.slide-content h4{
    font-family: "DM Sans", sans-serif;
    margin-bottom: 4%;
}

.slide-content p{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(5),
 #slide5:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4),
 #slide5:checked ~ #bullets label:nth-child(5) {
    background: #444;
 }


/* About Us */
.aboutUsHeading {
    width: 100%;
    height: 25vh;

    background-image: url('assets/image/main/background-bottom.png');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUsHeading h2{
    font-size: 3rem;
    font-weight: bold;
}

.aboutUsBackground{
    height: 75vh;
    width: 100%;

    position: relative;

    background-image: url('assets/image/pagina6/officebackground.png');
    background-position: center;
    background-size: cover;
}

.aboutUsContainer{
    height: 26vh;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutUsTekst{
    width: 90%;
    text-align: center;
    
    font-size: 1.2rem;
}

.aboutUsTekst p{
    font-family: "DM Sans", sans-serif;
}

.contactUsHeading{
    width: 100%;

    display: flex;
    justify-content: center;
}

.contactUsHeadingContainer{
    cursor: pointer;
}

.contactUsHeadingContainer:hover{
    color: #a8b0b8;
}

.contactUsHeading h3{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

.contactUsHeading h2{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.contactUsContainer{
    position: absolute;
    bottom: 0%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.contactImage{
    height: 30vh;
    width: 40vh;

    background-image: url('assets/image/pagina6/founders.png');
    background-position: center;
    background-size: cover;
}

.contactEmma{
    text-align: right;
}

.contactAngelique{
    text-align: left;
}

.contactInfo{
    width: 80%;
}

.contact h5{
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

.contact p{
    margin: 0;
    font-family: "DM Sans", sans-serif;
} 

/* Footer */
.footerpage{
    height: 20vh;
    background-color: #1e1b1b;

    display: flex;
    justify-content: end;
    align-items: center;
}

.footericon{
    font-size: 1.5em;
}

/* Responsive design */
@media(max-width: 1024px) {
    /* Navbar */
    .navbar .navContent{
        display: none;
    }

    .navbar .toggleBtn{
        display: block;
    }

    .dropDownMenu{
        display: block;
        z-index: 100;
    }

    .homeContent h1{
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .homeContent h2{
        font-size: 2rem;
    }

    /* Experience */
    .experienceContainer div{
        width: 280px;
        height: 350px;
        margin: 15px;
    }

    .experience h2{
        font-size: 2rem;
    }

    .experience h3{
        font-size: 1.7rem;
        margin: 1.5rem 5% 0; 
    }

    /* Services */
    .serviceContainer {
        align-items: center;
      }

    .serviceHero{
        margin-bottom: 8%;
    }
}

@media(max-width: 576px) {
    /* Navbar */
    .dropDownMenu{
        left: 2rem;
        width: unset;
        top: 70px;
    }

    .homeContent h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .homeContent h2{
        font-size: 1.5rem;
    }

    /* Experience */
    .experienceContainer div{
        width: 160px;
        height: 200px;
        margin: 5px;
    }

    .experience h2{
        font-size: 1.5rem;
    }

    .experience h3{
        font-size: 1rem;
        margin: 1.5rem 2.5% 0; 
    }
}
