/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.body{
    min-height: 100vh;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: transparent; /* Semi-transparante achtergrond */
    height: 60px; /* Stel de hoogte van je header in */
    z-index: 10;
}

/* Navbar */
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 60px;
    width: auto;
}

.navbar .navContent{
    display: flex;
    gap: 2rem;
}

.navContent li{
    list-style: none;
    position: relative;
}

.navContent a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.navContent a::before {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.navContent a:hover::before {
    width: 100%;
}

.navbar .toggleBtn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropDownMenu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropDownMenu.open{
    height: 240px;
}

.dropDownMenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropDownMenu li a{
    color: white;
}

/* Frontpage */
.home {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centreert de inhoud verticaal */
    align-items: center; /* Centreert de inhoud horizontaal */
    overflow: hidden;
}

.homeVideo {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.homeContent {
    position: relative;
    z-index: 2; /* Zorgt ervoor dat de tekst boven de video staat */
    padding-top: 60px; /* Pas deze waarde aan aan de hoogte van je header */
    text-align: center;
    color: white;
}

.homeContent h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}


.space{
    height: 200vh;
}

/* Responsive design */
@media(max-width: 992px) {
    /* Navbar */
    .navbar .navContent{
        display: none;
    }

    .navbar .toggleBtn{
        display: block;
    }

    .dropDownMenu{
        display: block;
        z-index: 100;
    }

    .homeContent h1{
        font-size: 2.8rem;
        margin-bottom: 0.5rem;
    }
}

@media(max-width: 576px) {
    /* Navbar */
    .dropDownMenu{
        left: 2rem;
        width: unset;
        top: 70px;
    }

    .homeContent h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .homeContent h2{
        font-size: 1rem;
    }
}
